<script src='/js/three.js/three.min.js'></script>
<script src='/js/three.js/TrackballControls.js'></script>
<!-- <script src='/js/three.js/dat.gui.module.js'></script> --> <!-- older version of 3js-->
<script src='/js/three.js/dat.gui.min.js'></script> <!-- version 7.7 from the CDN commented below-->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js'></script> -->
<script src="/js/lalolib/lalolib-noglpk-module.min.js"></script>
<script src='/js/jszip/jszip.min.js'></script>
<script src='/js/utils.js'></script>
