{{ define "main" }}
<div class="row">
    <div class="col-md-12 col-sm-6 d-flex justify-content-center">
        <img src="/images/merrysprout-broken.png" width="50%" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-6 d-flex justify-content-center">
        <h3> Sorry... couldn't find what you are looking for!!! </h3> 
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-6 d-flex justify-content-center">
        <h2> <a href="/"> Go back </a> </h2>    
    </div>
</div>
    
</div>


{{ end }}
